<br>
<div style="display:flex;flex-direction:row;">
    <form method="GET" action="/customer/<%= companyData.orgnr %>">
        <button type="submit" class="btn btn-danger buttonMarginRight" name="company" value="<%= companyData.orgnr %>" action="POST" label="Avbryt">Avbryt <i class="fas fa-times-circle"></i></button>  
    </form>
<form method="POST" action="/saveCustomer">
    <button type="submit" class="saveEditButton btn btn-success buttonMarginRight" name="company" value="<%= companyData.orgnr %>" action="POST" label="Spara">Spara <i class="fas fa-save"></i></button>
</div>  

<div class="companyInfo">
    <div class="customerData">
        <div class="customerLeft">
            <h5><%= companyData.kundnamn %></h5><p><%= companyData.orgnr.substring(0,6)+"-"+companyData.orgnr.substring(6, 10) %></p>
        </div>
        <div class="customerRight">
            <b><%= __('Kund är del av grupplösning:') %></b>
            <select name="partOfGroup">
                <option value="0"><%= __('Ej del av grupplösning') %></option>
                <% for(let i=0; i <groups.length; i++) { %>
                    <% if(groups[i].deleted == 0) { %>
                        <option 
                        <% if(groups[i].id == companyData.partOfGroup) { %>
                            selected
                        <% } %>
                        value="<%= groups[i].id %>">
                            <%= groups[i].groupname %>
                        </option>
                    <% } %>
                <% } %>
            </select>
        </div>
    </div>
    <div class="customerData">
        <div class="customerLeft">
            <p><b>Ansvarig säljare:</b> <input name="teliaansvarigInput" type="text" id="teliaansvarigInput" value="<%= companyData.teliaansvarig %>" maxlength="60"></input></p> 
            <p><b>Service Manager:</b> <input name="smInput" type="text" id="smInput" value="<%= companyData.servicemanager %>" maxlength="60"></input></p>
            <p><b>Presale:</b> <input name="presaleInput" type="text" id="presaleInput" value="<%= companyData.presale %>"></p>
            <p><b>Kundavtal start:</b> <input name="agreementStartInput" type="date" id="agreementStartInput" value="<%= companyData.agreementStart %>" disabled></p>
            <p><b>Kundavtal slut:</b> <input name="agreementEndInput" type="date" id="agreementEndInput" value="<%= companyData.agreementEnd %>" disabled></p>
            <p><b>Automatisk förlängning av avtal:</b>
            <select name="autoProlongInput" id="autoProlongInput" disabled>
                <option value="Nej"<% if(companyData.autoProlong == "Nej"){ %> selected <% } %> >Nej</option>
                <option value="Ja"<% if(companyData.autoProlong == "Ja"){ %> selected <% } %> >Ja</option>
            </select>
            <p><b>Länk till dokumentation i Sharepoint: </b><input name="documentationInput" type="text" id="documentationInput" value="<%= companyData.documentation %>" maxlength="500" disabled></input></p>
            </p>
        </div>
        <div class="customerRight">
            <p><b>Specialistsäljare UC: </b> <input name="ucansvarigInput" type="text" id="ucansvarigInput" value="<%= companyData.ucansvarig %>" maxlength="60"></input></p> 
            <p><b>LCM: </b> <input name="lcmInput" type="text" id="lcmInput" value="<%= companyData.lcm %>" maxlength="60"></input></p>
            <p><b>CMS: </b> <input name="cmsInput" type="text" id="cmsInput" value="<%= companyData.cms %>" maxlength="60"></input></p>
            <p><b>Vismakundnummer: </b> <input name="vismaInput" type="text" id="vismaInput" value="<%= companyData.visma %>" maxlength="10" disabled></input></p>
        </div>

    </div>
    <b>Senast Uppdaterad: </b><i class="text-muted"><%= companyData.lastUpdatedDate + ' av ' + companyData.lastUpdatedUser %> %></i>
</div>
</form>